html {
    position: relative;
    background-color: #c5d5cb;

}

body {
    position: relative;
    height: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100% - 50px);
    background-color: rgb(26, 26, 26);
}

#header_name {
    margin-left: 10px;
    text-align: center;

    color: #9fa89f;
    font-size: 3rem;
    font-family: Times, 'Times New Roman', serif;
}


/*
  Book content 
  */

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 230px;
    gap: 20px;
    border: black solid 2px;
    background-color: #e3e0cf;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 4px 10px;
}

.bookDisplay {
    display: flex;
    gap: 40px;
    margin-left: 75px;
    align-self: flex-start;
    justify-self: center;
    margin-top: 30px;
    word-break: break-all;
    font-weight: 600;
    flex-wrap: wrap;
    max-width: 1350px;
}






.author,
.pages,
.answer {
    color: rgb(82, 82, 82);
    font-family: Times, 'Times New Roman', serif;
    word-break: break-word;


}

.title {
    font-family: Times, 'Times New Roman', serif;
    word-break: break-word;
    text-align: center;
    font-size: x-large;
    color: rgb(0, 0, 0);
    max-width: 200px;
    margin-top: 20px;
}

.author {}

.pages {
    font-size: smaller;
}

.read {
    margin-bottom: -27px;
    height: 50px;
    width: 18px;
}


.answer {
    font-size: small;
}

.remove {

    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #9fa89f;
    border: black solid 1px;
    font-size: large;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.remove:hover {
    color: rgb(255, 22, 22);

}


/* 
Add Book Button 
*/

#addBook {
    font-size: 3rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    border: black solid 1px;
    background-color: #7789f0;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

#addBook:hover {
    background-color: #8cc0ff;

}

/*
  Add book form content 
*/

.headText {
    text-align: center;
    margin-top: 35px;
    font-size: 30pt;
    color: rgb(0, 0, 0);

}

.left {

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 150px;
}

#form {

    height: 470px;
    width: 320px;

    border: solid black 2px;
    background-color: #9fa89f;
}

#titles,
#author,
#page {
    height: 35px;
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
    border: black solid 2px;
}

.readQ {
    margin-left: 55px;
    color: rgb(0, 0, 0);
}

#read {
    margin-top: 50px;
    border: black solid 2px;

}


.submit {
    margin-left: 60px;
    margin-top: 50px;
}

#submit {
    font-size: large;
    font-weight: 500;
    width: 200px;
    background-color: #7789f0;
    color: white;
    border: black solid 2px;

}

#reset {
    width: 100px;

}

#submit:hover,
#reset:hover {
    background-color: #8cc0ff;

}